# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:@localhost:3306/simplecom"
ACCESS_TOKEN_SECRET=64936dbb45f58d72bc9c6b53ecb7f0258ea008e5e25665fdfc2adec2d33b4612346e7c98fdc05646d0cea98efabf1a5198d06b604cd8e255d060023b5251f621
REFRESH_TOKEN_SECRET=c5766f273a7a844eee177f88e49f6e5d2d7ba82f452742db72abe9412625a6d7aef90d9a2e160b974d02dabc77b562f8ee550ef12c15b75da3c2ef05180c0976